
div.container {
    background-color:whitesmoke;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50px;
	bottom: 50%;
	left: 25%;
	right: 25%;
    margin: auto;
    border-radius: 10px;
    border: 2px groove;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.caption {
    text-align: center;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
    font-family: "MyFontBold";
}

* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::placeholder { 
    color:#8c9496;
    padding: 10px;
    font-size: 30px;
    font-family: 'MyFont';
  }

  @font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(./fonts/Gilroy-Light.otf) format('woff');
  }
  @font-face {
    font-family: 'MyFontBold';
    src: local('MyFontBold'), url(./fonts/Gilroy-ExtraBold.otf) format('woff');
  }
